<header>
  <img src="http://et-static.s3.amazonaws.com/assets/img/icon-57.png" class="logo">
  <h1>{{ site.title }}</h1>
  <p>{{ site.description }}</p>
  <!-- <p class="view"><a href="http://github.com/orderedlist/minimal">View the Project on GitHub <small>orderedlist/minimal</small></a></p> -->
  <ul>
    <li class="button blue"><a href="#">Download <strong>Completo</strong></a></li>
    <li class="button blue"><a href="#" download="easy-logo.zip">Download <strong>Logos</strong></a></li>
    <li class="button blue"><a href="#">Download <strong>Fontes</strong></a></li>
  </ul>

<!-- <div class="menu pure-menu custom-restricted-width">
    <span class="pure-menu-heading">Sections</span>
      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a class="pure-menu-lin" href="#">Logo</a></li>
        <li class="pure-menu-item"><a class="pure-menu-lin" href="#">Colors</a></li>
        <li class="pure-menu-item"><a class="pure-menu-lin" href="#">Ícones de Aplicativo</a></li>
        <li class="pure-menu-item"><a class="pure-menu-lin" href="#">Em textos</a></li>
      </ul>
  </div>
 -->
</header>

<style type="text/css">
.logo{
    margin-bottom: 2em
}
    .menu ul{
    list-style: none;
    height: auto;
    padding: 1em;
    background: inherit;
    border-radius: inherit;
    border:  inherit;
    width: 100%;
    }
    .menu li {
    width: 100%;
    border-right: inherit;
    }
    .menu ul a{
    text-align: left;
    }
</style>


